@model uasmvc.Models.pembayaran

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>pembayaran</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tgl_bayar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tgl_bayar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.total_bayar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total_bayar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status_bayar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status_bayar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.reservasi.status_reserv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.reservasi.status_reserv)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <p class="btn btn-default"> @Html.ActionLink("Back to List", "Index") </p>
        </div>
    }
</div>
